[submodule "riscv-linux"]
	path = riscv-linux
	url = https://github.com/EECS-NTNU/linux
	branch = firesim-v57
[submodule "riscv-pk"]
	path = riscv-pk
	url = https://github.com/firesim/riscv-pk.git
[submodule "br/buildroot"]
	path = wlutil/br/buildroot
	url = https://github.com/buildroot/buildroot.git
[submodule "wlutil/busybox"]
	path = wlutil/busybox
	url = https://github.com/ucb-bar/busybox.git
[submodule "boards/firechip/drivers/icenet-driver"]
	path = boards/firechip/drivers/icenet-driver
	url = https://github.com/firesim/icenet-driver.git
[submodule "boards/firechip/drivers/iceblk-driver"]
	path = boards/firechip/drivers/iceblk-driver
	url = https://github.com/firesim/iceblk-driver.git
[submodule "wlutil/br_ntnu/buildroot"]
	path = wlutil/br_ntnu/buildroot
	url = https://github.com/buildroot/buildroot.git
[submodule "boards/firechip/base-workloads/ntnu-base/pperf"]
	path = boards/firechip/base-workloads/ntnu-base/pperf
	url = https://github.com/EECS-NTNU/pperf.git
[submodule "boards/firechip/base-workloads/ntnu-base/pythonTools"]
	path = boards/firechip/base-workloads/ntnu-base/pythonTools
	url = https://github.com/bgottschall/pythonTools.git
